Makefile*
object_script.*

bin/*
debug/*
release/*
ui/*.h
log/*
img/icons/*
ui_*.h
moc_*.cpp
moc_*.h
*.o

.qmake.stash
.qmake.cache
translations/qtmobility_untranslated.ts
translations/qtmobility_*.qm

*.exe
*.dll
