#MainWindow, #MainWindow > *{
	background: #303030;
	color: #DDDDDD;
}

#MainWindow > *:hover:disabled{
	background: #DDDDDD;
	color: #000000;
}

#main_widget, #main_widget > *{
	background: #505050;
	color: #DDDDDD;
}